<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>New recording</title>
  <link rel="stylesheet" href="../assets/css/bulma.min.css"/>
  <link rel="stylesheet" href="../assets/fonts/remixicon.css"/>
  <link rel="stylesheet" href="../assets/css/styles.css"/>
  <script src="../assets/js/vue.js"></script>
  <script src="../assets/js/axios.js"></script>
</head>
<body>
<div id="app">
  <div class="notification is-primary" style="border-radius: 0;">
    <span class="">Hey <strong>{{ name }}</strong>!</span>
    <span style="float: right;"
       class="button is-small is-white is-outlined has-text-right"
       @click="logoutClicked">
      Logout
    </span>
  </div>
  <div class="pl-5 pr-5">
    <div class="columns">
      <div class="column">
        <div class="field">
          <div class="label">Screen</div>
          <div class="control has-icons-left">
            <div class="select is-fullwidth">
              <select @change="changeScreenSelected($event)">
                <option v-bind:value="screenDevice.id" v-for="screenDevice in availableScreenInputs"
                        :selected="screenDevice === selectedScreenInput">
                  {{ screenDevice.label }}
                </option>
              </select>
            </div>
            <span class="icon is-left">
            <i class="ri-computer-fill"></i>
          </span>
          </div>
        </div>
        <div class="field">
          <div class="label">Audio</div>
          <div class="control has-icons-left">
            <div class="select is-fullwidth">
              <select @change="changeAudioSelected($event)">
                <option v-bind:value="audioDevice.id" v-for="audioDevice in availableAudioInputs"
                        :selected="selectedAudioInput !== null && audioDevice.id === selectedAudioInput.id">
                  {{ audioDevice.label }}
                </option>
              </select>
            </div>
            <span class="icon is-left">
            <i class="ri-mic-2-fill"></i>
          </span>
          </div>

        </div>

        <div class="field">
          <div class="label">Camera</div>
          <div class="control has-icons-left">
            <div class="select is-fullwidth">
              <select @change="changeCameraSelected($event)">
                <option :value="cameraDevice.id" v-bind:value="cameraDevice.id"
                        v-for="cameraDevice in availableCameraInputs"
                        :selected="selectedCameraInput !== null && cameraDevice.id === selectedCameraInput.id">
                  {{ cameraDevice.label }}
                </option>
              </select>
            </div>
            <span class="icon is-left">
            <i class="ri-vidicon-fill"></i>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="pl-5 pr-5">
    <button @click="startRecordingClicked"
            class="button is-large is-fullwidth is-outlined">
      <i class="ri-stop-mini-fill" :class="{ 'has-text-danger': !isRecording}"></i>
      &nbsp; Start recording
    </button>
  </div>
</div>
<script type="text/javascript" src="menubar.js"></script>
</body>
</html>
